/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {

}

.fondo
{
  -fx-background-color: rgb(128, 109, 103)
}

.boton
{
  -fx-background-color: rgb(148, 45, 38);
  -fx-background-radius: 15 15 15 15;
}

.boton:hover
{
  -fx-background-color: rgb(175, 32, 23);
  -fx-background-radius: 15 15 15 15;
}
